<!-- Profile thumbnail for general use  -->

<% @profiles.reverse.each do |profile| %>
  <div class="row profile_row col-12">
    <div class= "col-4">
      <%= link_to user_path(profile.user_id) do %>
        <%= image_tag profile.avatar_url, :class => 'profile_avatar' %>
      <% end %>

    </div>

    <div class="col-8">
      <p class="profile_info"><%= profile.first_name + " " + profile.last_name + ", " %><%= Time.now.year - profile.DOB.year-%><%= ", " + profile.sex + ", " + profile.postcode %> </p>
      <p class="profile_info"><%= profile.sport.gsub(/[""]/, '') %></p>
    </div>
  </div>
<% end %>
