<% if user_signed_in? %>
  <nav class="navbar sticky-top navbar-expand-lg navbar-light light_bg">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">Sport Buddies</a>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "My Account", profile_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Equipment", items_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Messages", messages_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
      </ul>

    </div>
  </nav>
<% end %>
